body {
    font-family: 'Sorts Mill Goudy', serif;
    background-color: #005f73;
    color: #001219;
}
.fas {
    font-size: 30px;
    color: hsl(197, 100%, 5%); 
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a9396;
    height: 100px;
    font-size: 48px;
    border-radius: 10% / 10%;   
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    
}
header div {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 50% 50% / 10% 10%;
    background-color: #94d2bd;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
main, .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display {
    background-color: #e9d8a6;
    width: 750px;
    padding: 15px;
    margin: 15px;
    height: max-content;
    border-radius: 10% / 10%;
    font-size: 24px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.display.human, .display.ai, .display.play {
    display: none;
}
button.menuSelect {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
    padding: 4px 16px;
    margin: 9px;
    background-color: #ee9b00;
    border: 2px solid #001219;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.leftB {
    border-radius: 50% 20% / 10% 40%;
}
.middleB {
    border-radius: 20% / 20% ;
}
.rightB {
    border-radius: 20% 50% / 40% 10%;
}
button.menuSelect:hover {
    background-color: hsl(39, 100%, 67%);
    cursor: pointer;
    
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input.playerName {
    font-family: inherit;
    color: inherit;
    font-size: 24px;
    /* padding: 4px 4px; */
    margin: 9px;
    border-radius: 20% / 20%;
    border: 1px solid black;
    background-color: hsl(45, 60%, 88%);
    text-align: center;
    
}

/* input#p2name {
    display: flex;
} */

/* Play display and Game Board [Start] */


div.gameCont {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px;
}
div.pInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border: 2px solid #001219;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    height: fit-content;
}
div.pInfo p, div.pInfo i {
    margin: 12px;
}
div.p1 {
    background-color: hsl(199, 41%, 70%);
    border-radius: 50% 20% / 10% 40%;
}
div.p2 {
    background-color: hsl(5, 81%, 68%);
    border-radius: 20% 50% / 40% 10%;
}
.activeP {
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}
.gameBoardCont {
    position: relative;
    height: 350px;
    width: 350px;
    border: 4px solid #001219;
    border-radius: 30% / 10%;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background-color: hsl(45, 60%, 68%);
}

.square {
    display: flex;
    background-color: hsl(45, 60%, 90%);
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.X {
    background-color: hsl(199, 41%, 70%);
}
.X_hover {
    background-color: hsla(199, 41%, 70%, 0.75);
    color: hsla(197, 100%, 5%, 0.25);
}

.O {
    background-color: hsl(5, 81%, 68%);
}
.O_hover {
    background-color: hsla(5, 81%, 68%, 0.75);
    color: hsla(197, 100%, 5%, 0.25);
}

/* Round Result Modal */

.roundResult {
    display: none;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    /* background-color: #ef766bd9; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 64px;
    margin: 0px;
    padding: 0px;
}
.roundResult_X {
    background-color: hsla(199, 41%, 70%, 0.85);
}
.roundResult_O {
    background-color: hsla(5, 80%, 68%, 0.85);
}