header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

main, .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: coral;
}
.display.human, .display.ai, .display.play {
    display: none;
}

input#p2name {
    display: flex;
}

/* Play display and Game Board [Start] */


div.gameCont {
    display: flex;
}
div.pInfo {
    border: 1px solid black;
}
div.p1 {
    background-color: lightblue;
}
div.p2 {
    background-color: red;
}
.activeP {
    transform: scale(1.2);
}
.gameBoardCont {
    position: relative;
    height: 400px;
    width: 400px;
}
.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
    width: 100%;
}

.square {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

.X {
    background-color: rgb(173, 216, 230);
}
.X_hover {
    background-color: rgba(173, 216, 230, 0.75);
    color: rgb(0, 0, 0, 0.75);
}

.O {
    background-color: red;
}
.O_hover {
    background-color: hsl(0, 100%, 75%);
    color: rgb(0, 0, 0, 0.75);
}

/* Round Result Modal */

.roundResult {
    display: none;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(142, 214, 132, 0.75);
    align-items: center;
    justify-content: center;
    font-size: 48px;
}